<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\log\nLogQuoteWizard.log">

  <variable name="logDirectory" value="c:/log"/>
  <variable name="baseFileName" value="quoteWizard"/>
  <targets async="true">
    <target name="errorOutput"
				xsi:type="File"
				layout="${longdate},${message},${level:uppercase=true},${event-context:exception_origin_object},${event-context:exception_origin_method},${exception:format=ToString,StackTrace}"
				fileName="${logDirectory}/${baseFileName}.log"
				archiveFileName="${logDirectory}/${baseFileName}.{###}.log"
				archiveAboveSize="1048576"
				maxArchiveFiles="10"
				archiveNumbering="Rolling"
				keepFileOpen="true"
				encoding="iso-8859-2" >
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff -0000}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="event-context-method" layout="${event-context:exception_origin_method}" />
        <attribute name="exception" layout="${exception:format=ToString,StackTrace}" />
      </layout>
    </target>
  </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="errorOutput" />
    </rules>
 
</nlog>
